<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1><%= message %> </h1>
        <h3>Failed request is: <%= request %> </h3>
        <h3>Failed to get <%= expected %> </h3>
    </div>
</div>
