<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> NWEN304 SHOP</h1>
    <p>Guess you will like</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Item 1</h3>
      <p>Item 1</p>
    </div>
    <div class="col-md-4">
      <h3>Item 2</h3>
      <p>Item 2</p>

   </div>
    <div class="col-md-4">
      <h3>Item 3</h3>
      <p>Item 3</p>
    </div>
  </div>
  