body{
	padding-top: 50px;
}

/*center the contents*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-header{
  display: inline-block;
}

.navbar-inverse {
	background: #000000;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #808080;
}

.navbar-inverse .pull-left{
  width: 80px;
  height: 44px;
}

.navbar-inverse .pull-left img {
	margin-top: 4px;
  width: 100%;
  height: auto;
}

.dropdown-menu>li>a {
  text-align: center;
}

hr{
  margin: 5px;
}

.slide-image {
    min-width: 100%;
}
/*.carousel-holder{
  margin-top: 0px;
}*/
/*.dropdown-menu-left {
    position:absolute;
    right:0px;
}*/

/*pull toggle button to left*/
/*.navbar-toggle{
  float: left;
  margin-left: 10px;
}*/