body{
	padding-top: 70px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse {
	background: #000000;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #808080;
}

.navbar-inverse .pull-left{
  width: 80px;
  height: 44px;
}

.navbar-inverse .pull-left img {
	margin-top: 4px;
  width: 100%;
  height: auto;
}