body, ul,li, p, h1, h2, h3, h4, dl, dd, form, input, textarea, select {
    padding-left: 0;
    margin: 0;
    font-family: Arial;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body{
    padding-top: 50px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse {
    background: #000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #808080;
}

.navbar-inverse .pull-left{
    width: 80px;
    height: 44px;
}

.navbar-inverse .pull-left img {
    margin-top: 4px;
    width: 100%;
    height: auto;
}

#purchase-menu{
    background-color: #f2f2f2;
    height: 25px;
}

#purchase-menu ul{
    height:25px;
    width: 600px;
    margin: 0 auto;
    padding-left: 40px;
}
#purchase-menu ul li{
    height: 25px;
    float: left;
}
#purchase-menu a{
    font-size: 0.6em;
    height: 22px;
    color: black;
    padding-right: 15px;
    line-height: 25px;

}

.btn-default{
    height:20px;
    margin: 0 ;
    margin-top: 2px;
    line-height: 2px;
}
