<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NWEN304 shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

      <% include ./partials/navbar %>

      <%- body -%>

      <script src="/js/jquery.min.js"></script>
      <script src="/js/validator.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/js/productsHomePage.js"></script>
  </body>
</html>
